<div class="pb-2 mt-4 mb-2 border-bottom">
      <h2>Questões</h2>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Qual é o custo médio dos animais do tipo cachorro?</h3>
    <code>
      costs = Animal.joins(:animal_kind).where(animal_kinds: { name: 'Cachorro'}).select(:monthly_cost) <br/>
      costs.pluck(:monthly_cost).reduce(&:+) / costs.count <br/>
      99.99
    </code>
  </div>
  <div class="col-md-12 mt-3">
    <h3>Quantos cachorros existem no sistema?</h3>
    <code>
      Animal.joins(:animal_kind).where(animal_kinds: { name: 'Cachorro'}).count <br/>
      2
    </code>
  </div>

  <div class="col-md-12 mt-3">
    <h3>Qual o nome dos donos dos cachorros (Array de nomes)?</h3>
    <code>
      Animal.joins(:animal_kind, :owner).where(animal_kinds: { name: 'Cachorro'}).select('people.name').pluck('people.name') <br/>
      ["Sid Vicious", "Axl Rose"]
    </code>
  </div>

  <div class="col-md-12 mt-3">
    <h3>Retorne as pessoas ordenando pelo custo que elas tem com os animais (Maior para menor)</h3>
    <code>
      Person.joins(:animals).order('animals.monthly_cost DESC').select('people.name').pluck('people.name') <br/>
      ["Elvis Presley", "Johnny Cash", "Kurt Cobain", "Joey Ramone", "Bruce Dickinson", "Axl Rose", "Sid Vicious"]
    </code>
  </div>

  <div class="col-md-12 mt-3">
    <h3>Levando em consideração o custo mensal, qual será o custo de 3 meses de cada pessoa?</h3>
    <code>
      Person.joins(:animals).select('people.name', 'animals.monthly_cost').map { |cost| { name: cost['name'], cost: (cost['monthly_cost'].to_f * 3).round(2)} } <br/>
      [{:name=>"Johnny Cash", :cost=>599.97}, {:name=>"Sid Vicious", :cost=>299.97}, {:name=>"Axl Rose", :cost=>299.97}, {:name=>"Joey Ramone", :cost=>311.97}, {:name=>"Bruce Dickinson", :cost=>311.97}, {:name=>"Kurt Cobain", :cost=>533.97}, {:name=>"Elvis Presley", :cost=>1223.97}]
    </code>
  </div>
</div>